@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";

.jumbotron {
    color: white;
    background: url('./ElCap-512.png') center;
    text-shadow: 2px 2px 4px #000000;
    padding-bottom: 3px;
}

.header-left, .header-right {
    flex-grow: 1;
    flex-basis: 0;
}

.nav button {
    color: white
}

.settings-offcanvas {
    max-width: 65%;
}

.nav li a {
    color: white;
    padding: 0px 0px 0px 15px;
}

.nav li a:hover {
    color: royalblue;
}

.card {
    margin-bottom: 10px;
}

.container-fluid {
    padding-right: 5px;
    padding-left: 5px;
}

.list-group a {
    padding-bottom: 2px;
}

.list-group-item {
    padding: 8px 10px 8px 10px;
}

.row {
    margin-bottom: 1em
}

.session-grade-header {
    line-height: 38px;
    margin-bottom: 0;
}

.session-grade-row {
    margin-bottom: 0.25em;
}
.session-grade-row:last-child {
    margin-bottom: 0.5em;
}

.slider-row {
    margin-bottom: 0;
}

.grade-modal-label {
    font-weight: 500;
}

.plus-minus-button {
    float: right;
    width: 38px;
    margin-left: 4px;
}

.plus-minus-button:focus {
    box-shadow: none;
}

.plus-minus-button:hover {
    color: #6c757d;
    background-color: transparent;
}

.form-label, .form-check {
    margin-top: 0.5em;
    margin-bottom: 0;
}

.activity-feed {
    .h5 {
        font-size: 1rem;
    }

    .row {
        margin-bottom: 0.5em;
        > * {
            padding-left: 0.25em;
            padding-right: 0.25em;
        }

    }
    .h6 {
        font-size: 0.75rem;
        font-weight: 300;
    }
    .card-body {
        padding: 0.5rem;
    }
    .card-text {
        font-size: 0.8rem;
        b {
            font-weight: 500;
        }
    }

    .session-card {
        .session-summary-row {
            margin-top: 0.5rem;
        }
        .card {
            background-color: $gray-300;
            border: none;
            height: 100%
        }
        .card-body {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
        }
        .h5 {
            font-size: 0.8rem;
            font-weight: 500;
            &:last-child {
                margin-bottom: 0;
            }
        }

        .h6 {
            font-size: 0.6rem;
        }

        .card {
            margin-bottom: 0;
        }
    }
}
