.jumbotron {
    color: white;
    background: url('https://cdn-image.travelandleisure.com/sites/default/files/1460561776/horsetail-fall-ElCapitan0416.jpg');
    background-position: center;
    text-shadow: 2px 2px 4px #000000;
}