.jumbotron {
    color: white;
    background: url('https://cdn-image.travelandleisure.com/sites/default/files/1460561776/horsetail-fall-ElCapitan0416.jpg') center;
    text-shadow: 2px 2px 4px #000000;
    padding-bottom: 3px;
}

.nav li a {
    color: white;
    padding: 0px 0px 0px 15px;
}

.nav li a:hover {
    color: royalblue;
}

.card {
    margin-bottom: 10px;
}